
// フロント
body {
  background-color: black;
  color: whitesmoke;
}

// ヘッダー
$header-height: 120px;
.header {
  display: block;
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: black;
}

// ボタン表示・非表示
.display {
  display: inline-block;
  &-none {
    display: none;
  }
}

// 曲情報
.track-info {
  display: block;
  text-align: center;
  &__progress {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    & input[type="range"] {
      appearance: none;
      margin: 0 8px 2px;
      height: 6px;
      width: 50%;
      max-width: 300px;
      outline: none;
      border-radius: 3px;
      background-color: #333;
      &::-webkit-slider-thumb {
        appearance: none;
        width: 3px;
        height: 12px;
        border-radius: 1.5px;
        background-color: #ccc;
      }
      &:hover {
        margin: 0 8px 1px;
        height: 8px;
        border-radius: 4px;
        &::-webkit-slider-thumb {
          width: 4px;
          height: 14px;
          border-radius: 2px;
        }
      }
    }
  }
  &__title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__artist {
    font-size: 0.8rem;
  }
}

// 歌詞
.lyrics {
  padding: $header-height 12px 120px;
  text-align: center;
  & li {
    color:#a8a8a8;
    min-height: 1rem;
    &.passed {
      font-weight: bold;
      &.red { color: red; }
      &.blue { color: cyan; }
      &.green { color: greenyellow }
      &.white { color: white; }
    }
  }
  &.registering li.passed {
    & + li:not(.passed) {
      border-bottom: solid 1px white;
      &::before {
        content: "次→ ";
      }
    }
  }
}

// reset css
body {
  margin: 0 !important;
  padding: 0 !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

ul {
  list-style:none;
  list-style-type: none;
  margin:0;
  padding:0;
}
